{% layout settings.customer_layout %}

<div class="{% if settings.show_sidebar %}span9{% else %}span12{% endif %} columns">

    <div id="template">
    
		<div class="template_header">
			<h2 class="title">{{ 'customer.reset_password.title' | t }}</h2>
			<p class="note">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
		</div>

		{% form 'reset_customer_password' %}
		{% if form.errors %}
		<div class="alert alert-error">
			{{ form.errors | default_errors }}
		</div>
		{% endif %}
		<div class="well form-inline">
			<input type="password" value="" placeholder="{{ 'customer.reset_password.password' | t }}" name="customer[password]" id="customer_password" class="input-large" />
			<input type="password" value="" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" name="customer[password_confirmation]" id="customer_password_confirmation" class="input-large" />
			<button class="btn btn-primary" type="submit">{{ 'customer.reset_password.submit' | t }}</button>
		</div>
		{% endform %}
        
	</div>
</div>