<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head' %}
	{{ content_for_header }}
</head>
<body>
	<div id="container-wrap">
		<div id="main" class="tab-side-pad{% if settings.fixed_header %} fixed-nav{% else %} static-nav{% endif %}"> <!-- main content wrap for sticky footer-->
			<!-- NAV BAR -->
			<div class="navbar{% if settings.inverse_color %} navbar-inverse{% endif %} navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<!-- COLLAPSE BUTTON -->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<div class="nav-collapse collapse">
							<!-- LOGO IN NAV BAR -->
                          	{% assign shop_name = shop.name %}
							{% if settings.logo_position == 'header' %}
							{% if settings.use_logo_image %}
							<a class="logo logo-header-image fl hidden-tablet hidden-phone" href="/" title="{{ 'general.logo.link_title' | t: shop_name: shop_name }}">
								<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }} Logo">
							</a>
							{% else %}
							<a href="/" class="logo logo-header fl hidden-tablet hidden-phone" title="{{ 'general.logo.link_title' | t: shop_name: shop_name }}">{{ shop.name }}</a>
							{% endif %}
							{% endif %}
							<!-- MAIN NAVIGATION -->
							<ul class="nav">
								{% for link in linklists.main-menu.links %}

                {% assign link_title_key = 'navigation.main_navigation_linklist.link_title_' | append: forloop.index %}
                {% capture link_title %}{{ link_title_key | t | default: link.title }}{% endcapture %}

								{% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
								{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}

								<li class="dropdown{% if link.active %} active{% endif %}" id="menu{{ forloop.index }}" >
									<a class="dropdown-toggle" data-toggle="dropdown" href="#menu{{ forloop.index }}" title="View {{ link_title }}">
										{{ link_title }}
										<b class="caret"></b>
									</a>
									<!-- DROPDOWN MENU -->
									{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
									<ul class="dropdown-menu">
										{% for l in linklists[child_list_handle].links %}
										<li{% if link.handle == page.handle %} class="active"{% endif %}><a href="{{ l.url }}" title="View {{ l.title }}">{{ l.title }}</a></li>
										{% endfor %}
									</ul>
									{% endif %}
								</li>
								{% else %}
								<li {% if link.active %}class="active"{% endif %}>
									<a href="{{ link.url }}" title="View {{ link_title }}">{{ link_title }}</a>        
								</li>    
								{% endif %}
								{% endfor %}
							</ul>
							
							<!-- SEARCH FIELD-->
							{%  if settings.show_navbar_search %}
							<form class="navbar-search pull-right" action="/search" method="get">
								{% assign col = settings.typeahead_collection %}
								<input id="search-input" name="q" type="text" class="search-query" placeholder="{{ 'general.search.search_button' | t }}" data-provide="typeahead" data-source="[{% for product in collections[settings.typeahead_collection].products %}{{ product.title | append: "&quot;" | prepend: "&quot;" }}{% unless forloop.last %},{% endunless %}{% endfor %}]" autocomplete="off">  
                          	</form>
							{% endif %}

							<!-- FEATURES AND ACCOUNT LINKS -->
							{% if cart.item_count > 0 or shop.customer_accounts_enabled or settings.show_multiple_currencies %}
							<ul class="nav account-nav pull-right">
								
								<!--CURRENCY CONVERTER DROPDOWN-->
								{% if settings.show_multiple_currencies %}
								<li class="currency-picker clearfix">
									{% include 'currency-picker' %}
								</li>
								{% endif %}

								<!-- CART COUNT -->
								{% if cart.item_count > 0 %}
								<li><a href="/cart"><span class="icon-shopping-cart cart"></span>&nbsp;<span class="badge badge-info">{{ cart.item_count }}</span></a></li>
								{% endif %}

								<!-- CUSTOMER ACCOUNT LINKS-->
								{% if shop.customer_accounts_enabled %}
								{% if customer %}
								<li class="dropdown">
									<a href="#" data-toggle="dropdown" class="dropdown-toggle">
										{{ customer.first_name }}<b class="caret"></b>
									</a>

									<ul class="dropdown-menu">
										<li><a href="/account">{{ 'customer.account.account_title' | t }}</a></li>
										<li>{{ 'customer.account.logout' | t | customer_logout_link }}</li>
									</ul>
								</li>

								{% else %}

								<li>{{ 'customer.account.login' | t  | customer_login_link }}</li>
								{% endif %}
								{% endif %}

							</ul><!-- /.nav pull-right -->
							{% endif %}

						</div><!-- /.nav-collapse -->
					</div><!-- /.container-->
				</div><!-- /.navbar-inner -->
			</div><!-- /.navbar-fixed-top -->
			<div class="container btm-m">
				
				<!-- BODY LOGO (ABOVE SLIDER) -->
                {% assign logo_pos = settings.logo_position %}
                {% capture logo_image %}{% if logo_pos == 'header' %}below_header_logo.png{% else %}{{ logo_pos | append: '_logo.png' }}{% endif %}{% endcapture %}
				{% if settings.use_logo_image and settings.below_header_logo != '' %}
				<a href="/" title="{{ 'general.logo.link_title' | t: shop_name: shop_name }}" class="logo{% if settings.logo_position == 'below_header' %} below_header{% else %} visible-phone{% if settings.logo_position != 'sidebar' %} visible-tablet{% endif %}{% endif %} btm-m bl">
					<img src="{{ logo_image | asset_url }}" alt="{{ shop_name }} Logo">
				</a>
				{% else %}
				<a href="/" title="{{ 'general.logo.link_title' | t: shop_name: shop_name }}" class="logo logo-body{% if settings.logo_position == 'below_header' %} below_header{% else %} visible-phone{% if settings.logo_position != 'sidebar' %} visible-tablet{% endif %}{% endif %} btm-m bl">{{ shop.name }}</a>
                {% if settings.use_logo_image and logo_pos == 'header' %}
                <span class="visible-phone visible-tablet alert">{{ 'home_page.blank_slate.logo_supplement_alert' | t }}</span>
                {% endif %}
				{% endif %}
				
				<!-- BREADCRUMBS -->
				{% if settings.show_breadcrumb %}
				<ul class="breadcrumb hidden-phone">
					<li><a href="/" class="homepage-link" title="Back to the frontpage">{{ 'general.breadcrumb.home' | t }}</a><span class="divider">/</span></li>
					{% if template contains "product" %}
					{% if collection %}            
					<li>
						{% if collection.handle %}
						{% capture url %}/collections/{{ collection.handle }}{% endcapture %}
						{{ collection.title | link_to: url }}
						{% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}
						{{ collection.title | link_to_type }}
						{% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}
						{{ collection.title | link_to_vendor }}
						{% endif %}
						<span class="divider">/</span>
					</li>
					{% else %}
					<li>{{ product.type | link_to_type }}<span class="divider">/</span></li>
					{% endif %}
					{% elsif template == "article" %}
					<li>{{ blog.title | link_to: blog.url }}<span class="divider">/</span></li>
					{% endif %}
					<li>{{ page_title }}</li>    
				</ul>
				{% endif %}

				<!-- CONTENT -->
				<div class="row-fluid">
					{% if settings.show_sidebar %}{% include 'sidebar' %}{% endif %}
					{{ content_for_layout }}
				</div>
			</div><!--! end of .container -->
		</div><!-- end of #main -->
	</div><!-- end of #container-wrap -->
	
	<!-- FOOTER -->
	<footer class="footer tab-side-pad">
		<div class="container">
			<div class="row-fluid">
				<!-- CREDITS (AND CREDIT CARDS FOR FW LAYOUT - TABLET + DESKTOP) -->
				<div class="span3 column hidden-phone">
					{% if settings.show_newsletter_footer %}
					    {% include 'credit-cards' %}
					{% endif %}
					{% include 'credits' %}
				</div>
				<!-- SOCIAL LINKS  -->
				<div class="span3 column clearfix">
                    {% if settings.show_newsletter_footer %}
                    <h3>{% if settings.sm_title == blank %}{{ 'home_page.blank_slate.social_media_title' | t }}{% else %}{{ settings.sm_title }}{% endif %}</h3>
                    {% endif %}
					<p class="social-icons">
                      	{% assign shop_name = shop.name %}
						{% if settings.facebook-icon != '' %}<a href="{{ settings.facebook-icon }}" title="{{ 'general.social.view_facebook' | t: shop_name: shop_name }}" target="_blank" class="fa fa-facebook-square facebook"></a>{% endif %}
						{% if settings.twitter-icon != '' %}<a href="http://twitter.com/{{ settings.twitter-icon }}" title="{{ 'general.social.view_twitter' | t: shop_name: shop_name }}" target="_blank" class="fa fa-twitter-square twitter"></a>{% endif %}
						{% if settings.googleplus-icon != '' %}<a href="{{ settings.googleplus-icon }}" title="{{ 'general.social.view_googleplus' | t: shop_name: shop_name }}" target="_blank" class="fa fa-google-plus-square googleplus"></a>{% endif %}
						{% if settings.pinterest-icon != '' %}<a href="{{ settings.pinterest-icon }}" title="{{ 'general.social.view_pinterest' | t: shop_name: shop_name }}" target="_blank" class="pinterest fa fa-pinterest-square"></a>{% endif %}
                      	{% if settings.instagram-icon != '' %}<a href="{{ settings.instagram-icon }}" title="{{ 'general.social.view_instagram' | t: shop_name: shop_name }}" target="_blank" class="instagram fa fa-instagram"></a>{% endif %}
						{% if settings.rss-icon != '' %}<a href="{{ settings.rss-icon }}.atom" title="{{ 'general.social.view_rss' | t: shop_name: shop_name }}" target="_blank" class="fa fa-rss-square rss"></a>{% endif %}
					</p>
				</div>
				<!-- FOOTER LINKS -->
				<div class="span3 column">
					
					<h3>{% if settings.footer_linklist_title == blank %}{{ 'home_page.blank_slate.footer_linklist_title' | t }}{% else %}{{ settings.footer_linklist_title }}{% endif %}</h3>
					
					<ul class="nav">
						{% for link in linklists[settings.footer_linklist].links %}
						<li {% if link.active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<!-- CREDIT CARDS (AND NEWSLETTER SIGNUP FOR FW LAYOUT)-->
				<div class="span3 column clearfix">
					{% if settings.show_newsletter_footer %}
					<h3>{{ 'general.newsletter.title' | t }}</h3>
					{% if settings.mailchimp %}
					<form action="{{ settings.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="contact-form" target="_blank">
						<input type="email" value="" name="EMAIL" class="required email" id="contact_email" placeholder="{{ 'general.newsletter.email' | t }}">
						<input type="submit" value="{{ 'general.newsletter.button' | t }}" name="subscribe" id="mc-embedded-subscribe" class="submit btn btn-primary">
					</form>
					{% else %}    
					{% form 'customer' %}
					<div>
						{% if form.posted_successfully? %}
						<p>{{ 'general.newsletter.success' | t }}</p>
						{% elsif form.errors %}
						{% for field in form.errors %}
						<p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
						{% endfor %}
						{% endif %}
						<input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
						<input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Subscriber" />
						<input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Newsletter" />
						<input type="email" id="contact_email" name="contact[email]" required pattern="[^ @]*@[^ @]*" placeholder="{{ 'general.newsletter.email' | t }}" />
						<input type='submit' class="submit btn btn-primary" value="{{ 'general.newsletter.button' | t }}" />
					</div>
					{% endform %}
					{% endif %}
					{% endif %}
					{% unless settings.show_newsletter_footer %}
                        {% include 'credit-cards' %}
					{% endunless %}
				</div>
				<!-- CREDIT CARDS AND CREDITS (REPOSITIONED FOR MOBILE DEVICES) -->
				<div class="span3 column visible-phone">
					{% if settings.show_newsletter_footer %}
					    {% include 'credit-cards' %}
					{% endif %}
					{% include 'credits' %}
				</div>
			</div>
		</div>
	</footer>

<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
{% if template contains "product" %}
{{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
    Shopify.Image.preload({{ product.images | json }}, '1024x1024');
</script>
{% endif %}


<!-- BOOTSTRAP JS -->
{% if settings.include-transition %}{{ 'bootstrap-transition.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-alert %}{{ 'bootstrap-alert.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-modal %}{{ 'bootstrap-modal.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-dropdown %}{{ 'bootstrap-dropdown.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-scrollspy %}{{ 'bootstrap-scrollspy.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-tab %}{{ 'bootstrap-tab.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-tooltip %}{{ 'bootstrap-tooltip.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-popover %}{{ 'bootstrap-popover.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-button %}{{ 'bootstrap-button.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-collapse %}{{ 'bootstrap-collapse.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-carousel %}{{ 'bootstrap-carousel.js' | asset_url | script_tag }}{% endif %}
{% if settings.include-typeahead %}{{ 'bootstrap-typeahead.js' | asset_url | script_tag }}{% endif %}

<!-- SHOP JS -->
{% if settings.show_tweets %}{{ 'jquery.tweet.js' | asset_url | script_tag }}{% endif %}
{{ 'shop.js' | asset_url | script_tag }}
{% if settings.show_multiple_currencies %}{% include 'currencies' %}{% endif %}
{{ 'retina.js' | asset_url | script_tag }}

{{ settings.additional_footer }}

</body>
</html>
